* {
    margin: 0px;
    padding: 0px;
    

}


.nav-link:hover {

    background-color: lightslategrey;



}

.main {
    background: url(sindhuja.png) no-repeat;
    background-position: right;
    background-size: contain;
    height: 96vh;
    width: 100%;
   



}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
}

.main h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 2;
    border-bottom: 3px solid lightslategray;
    width: 40%;
}

.main .bt1 {
    height: 55px;
    width: 140px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;

}

.main :hover.bt1 {
    background-color: rgb(176, 15, 15);
}

.button {
    background-color: red;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;


}

.main .bt2 {
    height: 55px;
    width: 140px;
    background-color: transparent;
    color: red;
    outline: none;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 5px;
}

.main :hover.bt2 {
    background-color: red;
    color: aliceblue;
}

.about img {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

h1 {
    font-weight: 900px;
    font-size: larger;
}

.progress {
    background-color: #ff004f;
    justify-content: flex-start;
    border-radius: 55px;
    border-color: blue;
    align-items: center;
    position: relative;
    display: flex;
    height: 35px;
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(220, 26, 26, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 55px;
    background-color: #ff004f;
    height: 45px;
    width: 0%;
}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 55px;
    background-color: #ff004f;
    height: 45px;
    width: 0%;
}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 55px;
    background-color: #ff004f;
    height: 45px;
    width: 0%;
}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 55px;
    background-color: #ff004f;
    height: 45px;
    width: 0%;
}

.progress p {
    color: white;
    padding: 12px;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 89%;
    }

}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }

}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }

}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 79%;
    }

}

h3 {
    font-size: larger;
    font-weight: 300px;

    color: black;


}

.button:hover {
    color: black;

}

.btn {
    display: inline-block;
    background: #ff004f;
}

.container img {
    padding: 10px;
}
.para{
    font-weight: 500;
}


/* porofolio */
.control ul li{
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}
.item{
    position: relative;
}
.item:hover {
    -webkit-box-shadow: -6px 17px 57px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 17px 57px 2px rgba(0,0,0,0.75);
box-shadow: -6px 17px 57px 2px rgba(0,0,0,0.75);
transition: 0.5s;
}
.item span{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}
.item:hover span{
    opacity: 1;
    transition: 0.5s;
}
.item:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(235, 233, 225, 0.569);
    opacity: 0;
    position: absolute;
}
.item:hover:before{
    opacity: 1;
    transition: 0.3s;
}



/* vontact */

.icon a {
    color: #ff004f;

}

.icon a:hover {
    color:#ababab;
    transform: translateY(-5px);
}

.btn.btn2 {
    
    background-color: #ff004f;
    width: 20%;
    margin: 10px;
    font-size: large;
  font-weight: 600;
  color: aliceblue;
}
.btn.btn2:hover

{
  background-color: #ababab;
  

   
}


